{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Tableau de bord{% endblock %}

{% block content_body %}
    <div class="text-center py-5">
        <h2>Bienvenue dans l'administration ProService</h2>
        <p>Utilisez le menu pour gérer les réservations.</p>
    </div>
{% endblock %}
